<header>
    <nav>
        <div name="header" class = "header">
            <div class="header-bar">
                <img class="partner-logo" src="/svg/partner-logo-2.svg" />
                <p class="APOAMF-database">
                    <span class="text-wrapper-APOAMF">APOAMF </span><span class="text-wrapper-Database">Database</span>
                </p>
                <img id="menu-btn" class="menu" src="/png/menu.png" />
            </div>
            <nav class="navbar">
                <a th:href="@{/}"  class="home-link">
                    <img src="/png/home-icon.png" alt="Home icon" class="home-icon" />
                    <span class="home-text">Home</span>
                </a>
                <a th:href="@{/viewunits}"  class="view-link">
                    <img src="/png/view-icon.png" alt="view icon" class="home-icon" />
                    <span class="home-text">View Profile</span>
                </a>
                <a th:href="@{/addhousehold}" class="add-link">
                    <img src="/png/add-icon.png" alt="add icon" class="home-icon" />
                    <span class="home-text">Add Profile</span>
                </a>
            </nav>
        </div>
    </nav>
</header>

<!-- for final version, use a local dl instead of google hosted api-->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>

<script th:src="@{/static/js/main.js}"></script>

