<header>
    <nav>
        <div name="header">
            <div class="header-bar">
                <img class="partner-logo" src="/svg/partner-logo-2.svg" />
                <p class="APOAMF-database">
                    <span class="text-wrapper-APOAMF">APOAMF </span><span class="text-wrapper-Database">Database</span>
                </p>
                <img id="menu-btn" class="menu" src="/png/menu.png" />
            </div>
            <nav class="navbar">
                <a th:href="@{/}"  class="home-link">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/297f502085b0fa4a88d2922307c4965a97469e6a167bcf08b3e2619a75bfbcff?apiKey=c50568d0dfd94773ad78b769ecc545a9&" alt="Home icon" class="home-icon" />
                    <span class="home-text">Home</span>
                </a>
                <a th:href="@{/viewunits}"  class="view-link">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/66bdb959b9af79ba639cffe6ea0045ed787c768897306c018338c46a713cea7a?apiKey=c50568d0dfd94773ad78b769ecc545a9&" alt="view icon" class="home-icon" />
                    <span class="home-text">View Profile</span>
                </a>
                <a th:href="@{/addhousehold}" class="add-link">
                    <img src="png/add-icon-plus-icon-cross-white-text-symmetry-symbol-light-logo-png-clipart-removebg-preview.png" alt="add icon" class="home-icon" />
                    <span class="home-text">Add Profile</span>
                </a>
                <a th:href="@{/editunits}"  class="edit-link">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/94b50874c12726a9ac3c8487fd5ec00d2b2b0617390fb0523971866d7df68f1c?apiKey=c50568d0dfd94773ad78b769ecc545a9&" alt="edit icon" class="home-icon" />
                    <span class="home-text">Edit Profile</span>
                </a>
                <a th:href="@{/deleteunits}"  class="delete-link">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0f766ebf10c3c876b443914c03937b5a4339f8484a364179fb42f71b8acb99a2?apiKey=c50568d0dfd94773ad78b769ecc545a9&" alt="delete icon" class="home-icon" />
                    <span class="home-text">Delete Profile</span>
                </a>
            </nav>
        </div>
    </nav>
</header>

<!-- for final version, use a local dl instead of google hosted api-->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>

<script th:src="@{/static/js/main.js}"></script>

