@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #fff0d6;
  overflow: auto;
}

.main-page {
  display: flex;
  flex-direction: column;
}
/* header elements */
.header-bar{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 103px;
}

.partner-logo {
  position: absolute;
  width: 97px;
  height: 97px;
  top: 3px;
  left: 100px;
}

.APOAMF-database {
  position: absolute;
  width: 163px;
  top: 23px;
  left: 203px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-APOAMF {
  font-weight: 700;
}

.text-wrapper-Database {
  font-style: italic;
  font-size: 22px;
}

.menu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 27px;
  left: 19px;
}