/* content */
.input-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  margin-top: 100px;
}

.heading-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.heading-1 > p {
  padding-bottom: 5px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #1d2a49;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: left;
  width: 80%;
}

.back-button {
  display: flex;
  flex-direction: row;
  width: 137px;
  background-color: #b25600;
  border-radius: 5px;
}

.back-button > img {
  width: 20px;
  height: 20px;
  position: 17px 13px;
  margin-left: 5px;
  margin-right: 10px;
}

.back-button > span {
  font-family: "Inter", Helvetica;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

hr {
  border: 1px solid #000000;
  width: 100%;
}

form .fields{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

form .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
}


.input-field label{
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1d2a49;
  font-size: 12px;
  letter-spacing: 0;
}

.input-field input, select, ::placeholder {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 7px;
  border: 1px solid #1d2a49;
  padding: 0 10px;
  height: 28px;
  margin: 8px 0;
  background-color: #1d2a49;
  opacity: 84%;
}

.form-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-respondent-body {
  display: flex;
  flex-direction: row;
}

.image-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;

}

.text-panel {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 70%;
}

.fields span {
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #1d2a49;
  font-size: 20px;
  letter-spacing: 0;
  width: 100%
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 30px;
  background-color: #1d2a49;
  opacity: 84%;
  border-radius: 5px;
  margin: 10px 50px;
}

.add-button span  {
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
}


.submit-button {
  display: flex;
  float: right;
  justify-content: center;
  width: 150px;
  background-color: #57804D;
  border-radius: 5px;
  margin-right: 40px;
}

.submit-button input {
  font-family: "Inter", Helvetica;
  font-weight: 200;
  background-color: transparent;
  border: 1px solid #57804D;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
}

