
/* content */
.input-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  padding-top: 2%;
}

.heading-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.heading-1 > p {
  padding-bottom: 5px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #1d2a49;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  text-align: left;
  width: 80%;
}

.back-button {
  display: flex;
  flex-direction: row;
  width: 150px;
  background-color: #b25600;
  border-radius: 5px;
  cursor: pointer;
}

.back-button > img {
  width: 20px;
  height: 20px;
  position: 17px 13px;
  margin-left: 5px;
  margin-right: 10px;
}

.back-button > span {
  font-family: "Inter", Helvetica;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

hr {
  border: 1px solid #000000;
  width: 100%;
}

form .fields{
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: left;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 10px 0;
}

form .input-field{
  position: relative;
  display: flex;
  width: calc(100% / 3 - 10px);
  flex-direction: column;
  margin: 10px 10px;
 
}

form .image-field{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
 
}


.input-field label {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1d2a49;
  font-size: 12px;
  letter-spacing: 0;
}

.search-field input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  height: 40px;
  margin: 8px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.input-field input, select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 0px 20px;
  height: 28px;
  margin: 8px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.input-field input::placeholder {
  color: #aaa;
}

.input-field input:focus {
  border-color: #e60023;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image-field label{
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1d2a49;
  font-size: 12px;
  letter-spacing: 0;

}


.image-display {
  height: 260px;
  width: 260px;
}

.image-display img {
  margin-top: 10px;
  max-width: 250px;
  height: 250px;
  border-radius: 10px;
}


.form-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-respondent-body {
  display: flex;
  flex-direction: row;
}

.image-panel {
  display: flex;
  flex-direction: column;
  position: relative;

}

.text-panel {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 80%;
}

.fields span {
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #1d2a49;
  font-size: 20px;
  letter-spacing: 0;
  width: 100%
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 30px;
  background-color: #1d2a49;
  opacity: 84%;
  border-radius: 5px;
  margin: 10px 50px;
  cursor:pointer;

}

.add-button span  {
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
}


.submit-button {
  display: flex;
  float: right;
  justify-content: center;
  width: 150px;
  background-color: #57804D;
  border-radius: 5px;
  margin-right: 40px;
  cursor:pointer;
}

.submit-button input {
  font-family: "Inter", Helvetica;
  font-weight: 200;
  background-color: transparent;
  border: 1px solid #57804D;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
}

.heading-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading-2 > p {
  padding-bottom: 5px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #1d2a49;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-align: left;
  width: 80%;
  
  
}

.delete-button {
  position:relative;
  display: flex;
  flex-direction: row;
  right: 0;
  width: 137px;
  height: 20px;
  background-color: #B20000;
  border-radius: 5px;
  cursor:pointer;

}

.delete-button > img {
  width: 17px;
  height: 17px;
  position: 17px 13px;
  margin-left: 5px;
  margin-right: 5px;
}

.delete-button > span {
  font-family: "Inter", Helvetica;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}


