@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #fff0d6;
    overflow: auto;
}

.search{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px 50px 10px 20px;
    height: 40px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background-color: #fff;
}

.search-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .clear-btn {
    position: absolute;
    right: 45px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #ccc;
  }

  .clear-btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.search-btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

  .search-btn {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  .search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

/*.search-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    height: 40px;
    margin: 8px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }*/

  .search-field input:focus {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
  }




.main-page {
    display: flex;
    flex-direction: column;
}

/* header elements */

.header{
    position: fixed;
    z-index: 100000;
    width: 100%;
}
.header-bar{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 103px;
    z-index: 10;
}

.partner-logo {
    position: absolute;
    width: 97px;
    height: 97px;
    top: 3px;
    left: 100px;
}

.APOAMF-database {
    position: absolute;
    width: 163px;
    top: 23px;
    left: 203px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-APOAMF {
    font-weight: 700;
}

.text-wrapper-Database {
    font-style: italic;
    font-size: 22px;
}

.menu {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 27px;
    left: 19px;
}

.home-page {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 750px;
    background-image:  url(../png/homepg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay {

    background-color: #5b5b5b7f;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.welcome-text {
    position: absolute;
    width: 35%;
    top: 75%; 
    left: 25%;
    font-family: "Inter", Helvetica;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 2em; 
    font-weight: bold;
}

.welcome-text-sub {
    position: absolute;
    width: 45%;
    top: 85%; 
    left: 30%;
    font-family: "Inter", Helvetica;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1.2em; 
}

.filter-container {
    position: relative;
    display: inline-block;
    padding-left: 15px;
  }

.filter-button {
    display: flex;
    flex-direction: row;
    width: 85px;
    background-color: #7FCCD1;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 5px;
}

.filter-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.filter-button > img {
    width: 20px;
    height: 20px;
    position: 17px 13px;
    margin-left: 5px;
    margin-right: 10px;
}

.filter-button > span {
    font-family: "Inter", Helvetica;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Inter", Helvetica;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-content-filter2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0%;
  }
  
  .dropdown-content-filter2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Inter", Helvetica;
  }
  
  .dropdown-content-filter2 a:hover {
    background-color: #f1f1f1;
  }
  .filter2-container {
    position: relative;
    display: inline-block;
    padding-left: 15px;
  }

.filter2-button {
    display: flex;
    flex-direction: row;
    width: 85px;
    background-color: #7FCCD1;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 5px;
}

.filter2-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.filter2-button > img {
    width: 20px;
    height: 20px;
    position: 17px 13px;
    margin-left: 5px;
    margin-right: 10px;
}

.filter2-button > span {
    font-family: "Inter", Helvetica;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}
  
.show {
    display: block;
}

.units {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 units per row */
    gap: 5px; /* Adjust the gap between units as needed */
    background-color: #00000023;
    border-radius: 5px;
    margin: 4px;
    padding: 10px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    justify-content: center;
}

.units-row>span{
    font-weight: bold;
}
.units-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the units horizontally */
    padding: 0;
    width: 100%;
    gap: 5px; /* Add gap between units */
}

.summary-units {
    flex: 1 1 calc(25% - 10px); 
    max-width: 100%;
    background-color: #4DA9AF;
    height: 245px;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
    font-family: "Inter", Helvetica;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.summary-units > span {
    letter-spacing: 0;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;

}

.summary-units:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 5px; 
    opacity: 0.5; 
}


.delete-units{
    background-color: #7D2525;
    width: 245px;
    height: 245px;
    border-radius: 5px;
    margin: 5px;
    padding: 2% ;
    font-family: "Inter", Helvetica;
    color: #ffffff;
}

.delete-units > span {
    letter-spacing: 0;
    line-height: normal;
    font-size: 20px;

}

.edit-units{
    background-color: #766DE0;
    width: 245px;
    height: 245px;
    border-radius: 5px;
    margin: 5px;
    padding: 2% ;
    font-family: "Inter", Helvetica;
    color: #ffffff;
}

.edit-units > span {
    letter-spacing: 0;
    line-height: normal;
    font-size: 20px;

}

.deets{
    margin-top: 25%;
}


.specific-unit{
    background-color: #57804D;
    width: 99%;
    height: auto;
    border-radius: 5px;
    margin: 5px;
    padding: 2% ;
    font-family: "Inter", Helvetica;
    color: #ffffff;
}

.specific-deets{
    background-color: #8AB380;
    width: 99%;
    height: 90%;
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
    padding: 2% ;
    font-family: "Inter", Helvetica;
    color: #ffffff;

}

.big-letter{
    font-size: 60px;
    font-weight:bold;
}

.section-deets{
    border-bottom:#000000 thin;
    padding: 1%;
    border-style: solid;
    display:flex;

}
.profile-pic{
    padding-right: 5%;
}
.named-areas{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.named-area{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    width: 225px;
    align-content: center;
    
}

.detail{
    background-color: #1D2A49;
    opacity: 0.84;
    padding: 5px;
    margin-top: 10px;
    width: auto;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.detail-img{
    background-color: #1D2A49;
    opacity: 0.84;
    padding: 5px;
    width: 250px;
    height:250px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.detail-img>img{
    width:100%;
}

.simple-flex{
    display: flex;
    flex-direction: column;
}

/* Navigation Elements */
.navbar {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.navbar.show {
    max-height: 500px; 
}

@media (max-width: 991px) {
    .navbar {
        border-top: #57804D;
        border-width: 1px;
    }
}

.navbar a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
    box-sizing: border-box;
    flex: 1;
}

.home-link {
    background-color: #57804d;
    gap: 20px;
}

.view-link {
    background-color: #4DA9AF;
    gap: 20px;
}

.add-link {
    background-color: #70A563;
    gap: 20px;
}

.edit-link {
    background-color: #7972D0;
    gap: 20px;
}

.delete-link {
    background-color: #C14747;
    gap: 20px;
}

.home-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
    padding: 5px;
}

.home-text {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

