<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/addhousehold.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://unpkg.com/create-file-list@1.0.1/dist/create-file-list.min.js"></script>
  <script src="./script.js"></script>
  <title>Add Household</title>

</head>
<body>

<div class="main-page">
  <header th:replace="partials/header :: header"></header>
  <div class="input-addpage">
    <div id="heading-1" class="heading-1">
      <p>Add New Household</p>
      <div class="back-button">
        <img class="back-button" src="/png/left-arrow.png">
        <span class="back-button" onclick="window.location.href='/'">Back to Menu</span>

      </div>
    </div>
    <hr>
    <!--add info of form to database-->
    <form action="/addhousehold" method="post" enctype="multipart/form-data">
      <div class="fields">
        <div class="form-row">
          <div class="input-field">
            <label>Building Number</label>
            <input type="text" name="buildingNum" required/>
          </div>

          <div class="input-field">
            <label>Unit Number</label>
            <input type="text" name="unitNum" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="input-field">
            <label>Monthly Household Expenditure</label>
            <input type="number" name="monthlyExpenditure" required/>
          </div>

          <div class="input-field">
            <label>Monthly Unit Amortization</label>
            <input type="number" name="monthlyAmortization" required/>
          </div>

          <div class="input-field">
            <label>Year of Residence</label>
            <input type="number" name="yearOfResidence" min="1900" max="2099" step="1" required/>
          </div>
        </div>
      </div>
      <hr>
      <div class="fields">
        <span>Main Respondent</span>
        <div class="main-respondent-body">
          <div class="image-panel">
            <div class="image-field">
              <label>Upload Picture</label>
              <div id="preview" class="image-display">
                <img class="image-display" src="png/avatar.jpg" alt="Default Avatar" id="avatar-${memberCount}">
              </div>
              <label for="resPfp-${memberCount}" class="custom-file-upload">Choose File</label>
              <input class="custom-file-upload" type="file" id="resPfp-${memberCount}" name="resPfp" accept="image/jpeg, image/png" onchange="upload(event, 'avatar-${memberCount}')" required/>
            </div>
            <!-- <div class="file-field">
              <div class="btcd-f-input">
                <label>Upload Files</label>
                 <div class="btcd-f-wrp">
                    <button class="btcd-inpBtn" type="button"> <img src="/svg/attach-file.svg"> <span> Attach File</span></button>
                    <span class="btcd-f-title">No File Chosen</span>
                    <input multiple type="file" name="files" id="files"/>
                 </div>
                 <div class="btcd-files">
                 </div>
              </div>
            </div> -->
          </div>

          <div class="text-panel">
            <div class="form-row">
              <div class="input-field">
                <label>Last Name</label>
                <input type="text" name="resLastName" required/>
              </div>

              <div class="input-field">
                <label>First Name</label>
                <input type="text" name="resFirstName" required/>
              </div>

              <div class="input-field">
                <label>Middle Name</label>
                <input type="text" name="resMiddleName" placeholder="Type &quot;-&quot; if N/A" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="input-field">
                <label>Gender</label>
                <select id="resGender" name="resGender" required>
                  <option disabled selected value>---</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>

              <div class="input-field">
                <label>Birthday</label>
                <input type="date" name="resBirthday" required/>
              </div>

              <div class="input-field">
                <label>Civil Status</label>
                <select id="resCivilStatus" name="resCivilStatus" required>
                  <option disabled selected value>---</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Separated">Separated</option>
                  <option value="Widowed">Widowed</option>
                </select>
              </div>

              <div class="input-field">
                <label>Contact Number</label>
                <input type="tel" name="resContactNumber" placeholder="09XX XXX XXXX" pattern="09[0-9]{2} [0-9]{3} [0-9]{4}" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="input-field">
                <label>Highest Educational Attainment</label>
                <select id="resHighestEducationalAttainment" name="resHighestEducationalAttainment" required>
                  <option disabled selected value>---</option>
                  <option value="No Education"> No Education</option>
                  <option value="Elementary Undergraduate">Elementary Undergraduate</option>
                  <option value="Elementary Graduate">Elementary Graduate</option>
                  <option value="Highschool Undergraduate">High School Undergraduate</option>
                  <option value="Highschool Graduate">High School Graduate</option>
                  <option value="College Undergraduate">College Undergraduate</option>
                  <option value="College Graduate Or Higher">College Graduate or Higher</option>
                </select>
              </div>

              <div class="input-field">
                <label>Occupation</label>
                <input type="text" name="resOccupation" required/>
              </div>

              <div class="input-field">
                <label>Monthly Income (leave blank if N/A)</label>
                <input type="number" name="resMonthlyIncome" placeholder="Type &quot;0&quot; if Not Applicable" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="input-field">
                <label>Medical Complications</label>
                <input type="text" name="resHealthStatus" placeholder="Type N/A if none" required/>
              </div>

              <div class="input-field">
                <label>PWD Type</label>
                <input type="text" name="resPwdType" placeholder="Type N/A if none" />
              </div>
            </div>         
          </div>
        </div>
        <hr>
      </div>
      <div id="additional-fields">

      </div>

      <div class="additional">
        <div class="empty-panel">
        </div>
        <div class="additional-panel">
          <div class="add-button" onclick="addMember()">
            <img src="svg/add-group.svg">
            <span>Add Member</span>
          </div>
          <div class="add-button" onclick="addPet()">
            <img src="svg/plus.svg">
            <span>Add Pet</span>
          </div>
        </div>
        <div class="submit-panel">
          <div class="submit-button">
            <input type="submit" value="Submit">
          </div>
        </div>

      </div>
      <div class="footer">
      </div>
    </form>
  </div>
</div>
<script src="/js/addhousehold.js"></script>
</body>
<script>
  <!-- Will move to separate file later, placed here for testing-->
  function showConfirmation() {
    alert("Household registered successfully!");
  }


  let successMessage = "<%= model.getAttribute('message') %>";
  if (successMessage.includes("Household registered successfully.")) {
    showConfirmation();
  }
</script>
</html>
