<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/addhousehold.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/addhousehold.js}"></script>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://unpkg.com/create-file-list@1.0.1/dist/create-file-list.min.js"></script>
    <title>Edit Household</title>
</head>
<body>

<div class="main-page">
    <header th:replace="partials/header :: header"></header>
    <div class="input-addpage">
        <div id="heading-1" class="heading-1">
            <p>Edit Household</p>
            <div class="back-button" onclick="window.location.href='/'">
                <img src="/png/left-arrow.png">
                <span>Back to Menu</span>
            </div>
        </div>
        <hr>
        <form id="household-form" action="/edit" method="post" enctype="multipart/form-data">
            <!--hidden fields for storing original values-->
            <input type="hidden" name="originalBuildingNum" th:value="${household.buildingNum}">
            <input type="hidden" name="originalUnitNum" th:value="${household.unitNum}">

            <div class="fields">
                <div class="form-row">
                    <div class="input-field">
                        <label>Building Number</label>
                        <input type="text" name="buildingNum" th:value="${household.buildingNum}" readonly/>
                    </div>

                    <div class="input-field">
                        <label>Unit Number</label>
                        <input type="text" name="unitNum" th:value="${household.unitNum}" readonly/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-field">
                        <label>Monthly Household Expenditure</label>
                        <input type="number" name="monthlyExpenditure" th:value="${household.monthlyExpenditure}" required/>
                    </div>

                    <div class="input-field">
                        <label>Monthly Unit Amortization</label>
                        <input type="number" name="monthlyAmortization" th:value="${household.monthlyAmortization}" required/>
                    </div>

                    <div class="input-field">
                        <label>Year of Residence</label>
                        <input type="number" name="yearOfResidence" th:value="${household.yearOfResidence}" min="1900" max="2099" step="1" required/>
                    </div>
                </div>
            </div>
            <hr>
            <div class="fields">
                <input type="hidden" name="originalLastName" th:value="${mainRespondent.lastName}">
                <input type="hidden" name="originalFirstName" th:value="${mainRespondent.firstName}">
                <span>Main Respondent</span>
                <div class="main-respondent-body">
                    <div class="image-panel">
                        <div class="image-field">
                            <label>Upload Picture</label>
                            <div id="preview" class="image-display">
                                <img class="image-display" th:src="@{${mainRespondent.profileImagePath}}" alt="Avatar" id="avatar-${memberCount}">
                            </div>
                            <label for="resPfp-${memberCount}" class="custom-file-upload">Choose File</label>
                            <input class="custom-file-upload" type="file" id="resPfp-${memberCount}" name="resPfp" accept="image/jpeg, image/png" onchange="upload(event, 'avatar-${memberCount}')" />
                        </div>
                    </div>

                    <div class="text-panel">
                        <div class="form-row">
                            <div class="input-field">
                                <label>Last Name</label>
                                <input type="text" name="resLastName" th:value="${mainRespondent.lastName}" required/>
                            </div>

                            <div class="input-field">
                                <label>First Name</label>
                                <input type="text" name="resFirstName" th:value="${mainRespondent.firstName}" required/>
                            </div>

                            <div class="input-field">
                                <label>Middle Name</label>
                                <input type="text" name="resMiddleName" th:value="${mainRespondent.middleName}" placeholder="Type &quot;-&quot; if N/A" required/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="input-field">
                                <label>Gender</label>
                                <select id="resGender" name="resGender" required>
                                    <option disabled selected value>---</option>
                                    <option value="Male" th:selected="${mainRespondent.gender == 'Male'}">Male</option>
                                    <option value="Female" th:selected="${mainRespondent.gender == 'Female'}">Female</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Birthday</label>
                                <input type="date" name="resBirthday" th:value="${mainRespondent.birthday}" required/>
                            </div>

                            <div class="input-field">
                                <label>Civil Status</label>
                                <select id="resCivilStatus" name="resCivilStatus" required>
                                    <option disabled selected value>---</option>
                                    <option value="Single" th:selected="${mainRespondent.civilStatus == 'Single'}">Single</option>
                                    <option value="Married" th:selected="${mainRespondent.civilStatus == 'Married'}">Married</option>
                                    <option value="Separated" th:selected="${mainRespondent.civilStatus == 'Separated'}">Separated</option>
                                    <option value="Widowed" th:selected="${mainRespondent.civilStatus == 'Widowed'}">Widowed</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Contact Number</label>
                                <input type="tel" name="resContactNumber" th:value="${mainRespondent.contactNumber}" placeholder="09XX XXX XXXX" pattern="09[0-9]{2} [0-9]{3} [0-9]{4}" required/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="input-field">
                                <label>Highest Educational Attainment</label>
                                <select id="resHighestEducationalAttainment" name="resHighestEducationalAttainment" required>
                                    <option disabled selected value>---</option>
                                    <option value="No Education" th:selected="${mainRespondent.highestEducationalAttainment == 'No Education'}">No Education</option>
                                    <option value="Elementary Undergraduate" th:selected="${mainRespondent.highestEducationalAttainment == 'Elementary Undergraduate'}">Elementary Undergraduate</option>
                                    <option value="Elementary Graduate" th:selected="${mainRespondent.highestEducationalAttainment == 'Elementary Graduate'}">Elementary Graduate</option>
                                    <option value="Highschool Undergraduate" th:selected="${mainRespondent.highestEducationalAttainment == 'Highschool Undergraduate'}">High School Undergraduate</option>
                                    <option value="Highschool Graduate" th:selected="${mainRespondent.highestEducationalAttainment == 'Highschool Graduate'}">High School Graduate</option>
                                    <option value="College Undergraduate" th:selected="${mainRespondent.highestEducationalAttainment == 'College Undergraduate'}">College Undergraduate</option>
                                    <option value="College Graduate Or Higher" th:selected="${mainRespondent.highestEducationalAttainment == 'College Graduate Or Higher'}">College Graduate or Higher</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Occupation</label>
                                <input type="text" name="resOccupation" th:value="${mainRespondent.occupation}" required/>
                            </div>

                            <div class="input-field">
                                <label>Monthly Income (leave blank if N/A)</label>
                                <input type="number" name="resMonthlyIncome" th:value="${mainRespondent.monthlyIncome}" min="0"/>
                            </div>

                            <div class="form-row">
                                <div class="input-field">
                                    <label>Medical Complications</label>
                                    <input type="text" name="resHealthStatus" th:value="${mainRespondent.healthStatus}" required/>
                                </div>

                                <div class="input-field">
                                    <label>PWD Type</label>
                                    <input type="text" name="resPwdType" th:value="${mainRespondent.pwdType}" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Display Additional Members -->
            <div class="fields">
                <div th:if="${otherMembers.size() > 0}">
                    
                    <div th:each="member, iter : ${otherMembers}">
                        <hr>
                        <span>Additional Members</span>
                        <div class="main-respondent-body">
                            <input type="hidden" name="originalLastName" th:value="${member.lastName}">
                            <input type="hidden" name="originalFirstName" th:value="${member.firstName}">
                            <div class="image-panel">
                                <div class="image-field">
                                    <label>Upload Picture</label>
                                    <div id="preview" class="image-display">
                                        <img class="image-display" th:src="@{${member.profileImagePath}}" alt="Avatar" id="avatar-${iter.index + 1}">
                                    </div>
                                    <label for="resPfp-${iter.index + 1}" class="custom-file-upload">Choose File</label>
                                    <input class="custom-file-upload" type="file" id="resPfp-${iter.index + 1}" name="resPfp" accept="image/jpeg, image/png" onchange="upload(event, 'avatar-${iter.index + 1}')" />
                                </div>
                            </div>

                            <div class="text-panel">
                                <div class="form-row">
                                    <div class="input-field">
                                        <label>Last Name</label>
                                        <input type="text" name="resLastName" th:value="${member.lastName}" required/>
                                    </div>

                                    <div class="input-field">
                                        <label>First Name</label>
                                        <input type="text" name="resFirstName" th:value="${member.firstName}" required/>
                                    </div>

                                    <div class="input-field">
                                        <label>Middle Name</label>
                                        <input type="text" name="resMiddleName" th:value="${member.middleName}" placeholder="Type &quot;-&quot; if N/A" required/>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="input-field">
                                        <label>Gender</label>
                                        <select id="memberGender-${iter.index + 1}" name="resGender" required>
                                            <option disabled selected value>---</option>
                                            <option value="Male" th:selected="${member.gender == 'Male'}">Male</option>
                                            <option value="Female" th:selected="${member.gender == 'Female'}">Female</option>
                                        </select>
                                    </div>

                                    <div class="input-field">
                                        <label>Birthday</label>
                                        <input type="date" name="resBirthday" th:value="${member.birthday}" required/>
                                    </div>

                                    <div class="input-field">
                                        <label>Civil Status</label>
                                        <select name="resCivilStatus" required>
                                            <option disabled selected value>---</option>
                                            <option value="Single" th:selected="${member.civilStatus == 'Single'}">Single</option>
                                            <option value="Married" th:selected="${member.civilStatus == 'Married'}">Married</option>
                                            <option value="Separated" th:selected="${member.civilStatus == 'Separated'}">Separated</option>
                                            <option value="Widowed" th:selected="${member.civilStatus == 'Widowed'}">Widowed</option>
                                        </select>
                                    </div>

                                    <div class="input-field">
                                        <label>Contact Number</label>
                                        <input type="tel" name="resContactNumber" th:value="${member.contactNumber}" placeholder="09XX XXX XXXX" pattern="09[0-9]{2} [0-9]{3} [0-9]{4}" required/>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="input-field">
                                        <label>Highest Educational Attainment</label>
                                        <select  name="resHighestEducationalAttainment" required>
                                            <option disabled selected value>---</option>
                                            <option value="No Education" th:selected="${member.highestEducationalAttainment == 'No Education'}">No Education</option>
                                            <option value="Elementary Undergraduate" th:selected="${member.highestEducationalAttainment == 'Elementary Undergraduate'}">Elementary Undergraduate</option>
                                            <option value="Elementary Graduate" th:selected="${member.highestEducationalAttainment == 'Elementary Graduate'}">Elementary Graduate</option>
                                            <option value="Highschool Undergraduate" th:selected="${member.highestEducationalAttainment == 'Highschool Undergraduate'}">High School Undergraduate</option>
                                            <option value="Highschool Graduate" th:selected="${member.highestEducationalAttainment == 'Highschool Graduate'}">High School Graduate</option>
                                            <option value="College Undergraduate" th:selected="${member.highestEducationalAttainment == 'College Undergraduate'}">College Undergraduate</option>
                                            <option value="College Graduate Or Higher" th:selected="${member.highestEducationalAttainment == 'College Graduate Or Higher'}">College Graduate or Higher</option>
                                        </select>
                                    </div>

                                    <div class="input-field">
                                        <label>Occupation</label>
                                        <input type="text" name="resOccupation" th:value="${member.occupation}" required/>
                                    </div>

                                    <div class="input-field">
                                        <label>Monthly Income (leave blank if N/A)</label>
                                        <input type="number" name="resMonthlyIncome" th:value="${member.monthlyIncome}" min="0"/>
                                    </div>

                                    <div class="input-field">
                                        <label>Relationship to Main Respondent</label>
                                        <input type="text" name="resRelationToRespondent" th:value="${member.relationToMainRespondent}" required/>
                                    </div>

                                    <div class="form-row">
                                        <div class="input-field">
                                            <label>Medical Complications</label>
                                            <input type="text" name="resHealthStatus" th:value="${member.healthStatus}" required/>
                                        </div>

                                        <div class="input-field">
                                            <label>PWD Type</label>
                                            <input type="text" name="resPwdType" th:value="${member.pwdType}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fields">
                
                    <div th:if="${pets.size() > 0}">
                        <div th:each="pet, iter : ${pets}">
                            <hr>
                            <span>Household Pets</span>
                            <div class="main-respondent-body">

                                <input type="hidden" name="originalPetName" th:value="${pet.petName}">
                                <input type="hidden" name="originalPetAnimalType" th:value="${pet.petSpecies}">

                                
                                
                                    <div class="image-panel">
                                        <div class="image-field">
                                            <label></label>
                                            <div id="preview">
                                                <img class="pet-image-display" th:src="@{${pet.petImagePath}}" alt="Default Avatar" id="avatar-pet-${iter.index + 1}">
                                            </div>
                                            <label for="resPfp-pet-${iter.index + 1}" class="custom-file-upload">Choose File</label>
                                            <input class="custom-file-upload" type="file" id="resPfp-pet-${iter.index + 1}" name="petPfp" accept="image/jpeg, image/png" onchange="upload(event, 'avatar-pet-${iter.index + 1}')" />
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="input-field">
                                            <label>Pet Name</label>
                                            <input type="text" name="petName" th:value="${pet.petName}" required/>
                                        </div>
                                        <div class="input-field">
                                            <label>Animal Type</label>
                                            <input type="text" name="petAnimalType" th:value="${pet.petSpecies}" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
            </div>

            <div class="update-panel">
                <div class="update-button">
                    <button type="submit">Update Household</button>
                </div>
            </div>

            </div>
        </form>
    </div>
</div>

</body>
</html>