<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>
        {{> partials/header}}
<div class ="home-page">
    <div class="welcome-text">Welcome, Dela Cruz!</div>
    <div class="welcome-text-sub"><i>Profiling Database of APOAMFP Household Members, manage all of it here.</i></div>

    <div class ="overlay">

    </div>
</div>
</body>
</html>
