<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <title>Home</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<div class="home-page">
    <div class="slideshow"></div>
    <div class="overlay"></div>
    <div class="content">
        <div class="welcome-text">Welcome, Admin!</div>
        <div class="welcome-text-sub">Profiling Database of APOAMFP Household Members, manage all of it here.</div>
    </div>
    <div th:if="${message}"
         th:data-successMessage="${message}"
         onload="showMessage(this.getAttribute('data-successMessage'));">
    </div>
</div>
</body>
</html>
