<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/addhousehold.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <title>View Units</title>
</head>
<body>
<div class="main-page">
  <header th:replace="partials/header :: header"></header>

  <div class="input-page">
    <div id="heading-1" class="heading-1">
      <p>Select a Unit to View</p>
      <div class="back-button" onclick="window.location.href='/'">
        <img src="/png/left-arrow.png">
        <span>Back to Menu</span>
      </div>
    </div>
    <hr>

    <div class="main-container">
      <!-- Search Field -->
      <div class="search-field">
        <form th:action="@{/search}" method="get">
          <input id="searchInput" class="search" type="text" name="searchTerm" placeholder="Search by Building Number, Unit Number, or Respondent Name"/>
          <button id="clearButton" class="clear-btn" type="button" onclick="clearSearch()">✖</button>
          <button type="submit" class="search-btn">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/66bdb959b9af79ba639cffe6ea0045ed787c768897306c018338c46a713cea7a?apiKey=c50568d0dfd94773ad78b769ecc545a9&" alt="Search" class="search-icon" />
          </button>
        </form>
      </div>
    
      <!-- Filter and Sort Options -->
      <div class="filter-container">
        <div class="filter-button" onclick="toggleDropdownSort()">
          <img class="filter-icon" src="/png/sorting-options.png">
          <span class="filter-text">Sort</span>
        </div>
        <div id="dropdown-menu" class="dropdown-content">
          <a href="#">Numerical (Ascending)</a>
          <a href="#">Alphabetical (A-Z)</a>
          <a href="#">Recently Added</a>
        </div>
      </div>
    
      <div class="filter2-container">
        <div class="filter2-button" onclick="toggleDropdownFilter()">
          <img class="filter2-icon" src="/png/sorting-options.png">
          <span class="filter2-text">Filter</span>
        </div>
        <div id="dropdown-menu-filter2" class="dropdown-content-filter2">
          <a href="#">By Building Number</a>
          <a href="#">By Unit Number</a>
          <a href="#">By Respondent Name</a>
        </div>
      </div>
    </div>
    
      
    
    <div class="units">
      <table>
        <thead>
          <tr>
            <th>Building Number</th>
            <th>Unit Number</th>
            <th>Number of Members</th>
            <th>Main Respondent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody th:each="household : ${households}">
          <tr th:onclick="'window.location.href=\'/viewaunit/' + ${household.buildingNum} + '/' + ${household.unitNum} + '\''">
            <td th:text="${household.buildingNum}"></td>
            <td th:text="${household.unitNum}"></td>
            <td th:text="${household.members.size()}"></td>
            <td>
              <span th:each="member : ${household.members}" th:if="${member.isMainRespondent == 1}" th:text="${member.firstName} + ' ' + ${member.lastName}"></span>
            </td>
            <td class="actions">
              <button class="edit-btn" th:onclick="'window.location.href=\'/editunit/' + ${household.buildingNum} + '/' + ${household.unitNum} + '\''">
                <img src="/png/edit-icon.png" alt="Edit">
              </button>
              <button class="delete-btn" th:onclick="'window.location.href=\'/deleteunit/' + ${household.buildingNum} + '/' + ${household.unitNum} + '\''">
                <img src="/png/delete-icon.png" alt="Delete">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>

</body>
</html>

