<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/addhousehold.css}">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <title>View Units</title>
</head>
<body>
<div class="main-page">
  <header th:replace="partials/header :: header"></header>

  <div class="input-page">
    <div id="heading-1" class="heading-1">
      <p>Select a Unit to View</p>
      <div class="back-button">
        <img class="back-button" src="/png/left-arrow.png">
        <span class="back-button" onclick="window.location.href='/'">Back to Menu</span>
      </div>
    </div>
    <hr>

    <!-- add info of database -->
    <div class="search-div">
      <div class="input-field">
        <input class="search" type="text" name="buildingNum" placeholder="Type to Search"/>
      </div>

      <div class="filter-container">
        <div class="filter-button" onclick="toggleDropdown()">
          <img class="filter-icon" src="/png/sorting-options.png">
          <span class="filter-text">Filter</span>
        </div>
        <div id="dropdown-menu" class="dropdown-content">
          <a href="#">Sort by Building Number</a>
          <a href="#">Sort by Unit Number</a>
        </div>
      </div>
      
    </div>
    <div class="units">
      <div class="units-row" th:each="household : ${households}">
        <div class="summary-units" th:onclick="/">
          <span th:utext="'Building ' + ${household.buildingNum} + '<br/> Unit ' + ${household.unitNum}"></span>
          <div class="deets">
            <p th:text="'Number of Members: '"></p>
            <p>Main Respondent:</p>
            <p th:text="'John Doe'"></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>

