<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/addhousehold.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <title>View A Unit</title>
</head>
<body>
<div class="main-page">
    <header th:replace="partials/header :: header"></header>

    <div class="input-page">
        <div id="heading-1" class="heading-1">
            <p>Select a Unit to View</p>
            <div class="back-button">
                <img class="back-button" src="/png/left-arrow.png">
                <a class="back-button" th:href="@{/viewunits}">Back to Units</a>
            </div>
        </div>
        <hr>
        <!-- add info of database -->
        <div class="specific-unit">
            <span class="big-letter" th:text="'Building ' + ${household.buildingNum} + ' Unit ' + ${household.unitNum}"></span>
            <div class="specific-deets">
                <div class="section-deets">
                    <div class="named-areas">
                        <div class="named-area">
                            Year of Residence
                            <div class="detail" th:text="${household.yearOfResidence}"></div>
                        </div>
                        <div class="named-area">
                            Monthly Household Expenditure
                            <div class="detail" th:text="${household.monthlyExpenditure}"></div>
                        </div>
                        <div class="named-area">
                            Monthly Unit Amortization
                            <div class="detail" th:text="${household.monthlyAmortization}"></div>
                        </div>
                    </div>
                </div>
                <div class="section-deets">
                    <div class="profile-pic">
                        <p>Main Respondent</p>
                        <div class="detail-img"><img src="/png/profile.png"></div>
                    </div>
                    <div class="simple-flex">
                        <div class="named-areas">
                            <div class="named-area">
                                Last Name
                                <div class="detail" th:text="${mainRespondent.lastName}"></div>
                            </div>
                            <div class="named-area">
                                First Name
                                <div class="detail" th:text="${mainRespondent.firstName}"></div>
                            </div>
                            <div class="named-area">
                                Middle Name
                                <div class="detail" th:text="${mainRespondent.middleName}"></div>
                            </div>
                        </div>
                        <div class="named-areas">
                            <div class="named-area">
                                Gender
                                <div class="detail" th:text="${mainRespondent.gender}"></div>
                            </div>
                            <div class="named-area">
                                Birthday
                                <div class="detail" th:text="${mainRespondent.birthday}"></div>
                            </div>
                            <div class="named-area">
                                Civil Status
                                <div class="detail" th:text="${mainRespondent.civilStatus}"></div>
                            </div>
                            <div class="named-area">
                                Contact Number
                                <div class="detail" th:text="${mainRespondent.contactNumber}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional household members loop -->
                <div th:each="member : ${otherMembers}">
                    <div class="section-deets">
                        <div class="profile-pic">
                            <div class="named-area">
                                Household Member
                                <div class="detail-img"><img src="/png/profile.png"></div>
                            </div>
                        </div>
                        <div class="simple-flex">
                            <div class="named-areas">
                                <div class="named-area">
                                    Last Name
                                    <div class="detail" th:text="${member.lastName}"></div>
                                </div>
                                <div class="named-area">
                                    First Name
                                    <div class="detail" th:text="${member.firstName}"></div>
                                </div>
                                <div class="named-area">
                                    Middle Name
                                    <div class="detail" th:text="${member.middleName}"></div>
                                </div>
                            </div>
                            <div class="named-areas">
                                <div class="named-area">
                                    Gender
                                    <div class="detail" th:text="${member.gender}"></div>
                                </div>
                                <div class="named-area">
                                    Birthday
                                    <div class="detail" th:text="${member.birthday}"></div>
                                </div>
                                <div class="named-area">
                                    Civil Status
                                    <div class="detail" th:text="${member.civilStatus}"></div>
                                </div>
                                <div class="named-area">
                                    Contact Number
                                    <div class="detail" th:text="${member.contactNumber}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
